* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --bgc: #222;
    --bgc-login: #818258;
    --txt: #eaeaea;
    --txt-2: #222;
    --accent: #227990;
    --accent-hover: #b52c36;
    /* dash */
    --bgcdash: #eaeaea;
    --txtdash: #222;
    --txtdash-hover: #eaeaea;
    --icon: #222;
}
body {
    background: var(--bgc);
    color: var(--txt);
}
.style-app {
    display: flex;
    flex-direction: row;
}
.content-container{
    flex: 1;
}
a {
    color: red;
}
/*dashboard*/
.dashboard {
    min-width: 101px;
    transition: min-width 800ms;
}
.dashboard .logo a {
    text-decoration: none;
    color: #222;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    align-items: center;
}
.dashboard .logo .title {
    font-size: 20px;
    display: none;
    text-transform: uppercase;
    text-align: center;
    color: var(--txtdash);
}
.dashboard .sidebar {
    border-radius: 20px;
    margin: 0.5em;
    width: 85px;
    overflow: hidden;
    position: fixed;
    background: var(--bgcdash);
    color: var(--txtdash);
    padding: 32px 0px;
    transition: width 800ms;
}
.dashboard .menuText {
    margin-top: 24px;
}
.dashboard .menuText p {
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 10px;
}
.dashboard .menuList ul {
    list-style: none;
    margin-top: 8px;
    padding: 0 10px;

}
.dashboard .menuList ul li {
    cursor: pointer;
    margin: 4px;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    align-items: center;
    transition: 0.5s ease;
}
.dashboard .menuList ul li a {
    min-width: 200px;
    text-decoration: none;
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 1em;
    flex: 1;
    color: var(--txtdash);
}
.menuList .active,
.dashboard .menuList ul li:hover {
    background: var(--bgc);
}
.menuList .active .navA,
.dashboard .menuList ul li:hover .navA {
    color: var(--txtdash-hover);
}
.menuList .active svg,
.dashboard .menuList ul li:hover svg {
    fill: var(--txtdash-hover);
    stroke: var(--txtdash-hover);
}
.dashboard .menu-svg {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--txtdash);
    stroke: var(--txtdash);
}
#Logo {
    height: 80px;;
}
.click {
    position: fixed;
    left: 2%;
    top: 1.5%;
    font-size: 24px;
    z-index: 1;
    cursor: pointer;
}
.burgerMenu {
    width: 24px;
    stroke: var(--icon);
    transition: transform 0.5s ease;
}
.burgerMenu path{
    transition: all 0.5s ease;
}
#click {
    display: none;
}
#click:checked ~ .dashboard .sidebar {
    width: 260px;
}
#click:checked ~ .dashboard {
    min-width: 280px;
}
.navA {
    opacity: 0;
    transition: 0.3s ease;
}
#click:checked ~ .dashboard .sidebar .navA {
    opacity: 1;
}
#click:checked ~ .dashboard .sidebar .title {
    display: flex;
}
#click:checked ~ label .burgerMenu .middle {
    opacity: 0;
}
#click:checked ~ label .burgerMenu .top {
    transform: rotate(45deg) translateX(6px) translateY(-6px);
}
#click:checked ~ label .burgerMenu .bottom {
    transform: rotate(-45deg) translateX(-12px) translateY(-1px);
}



.burger { 
    display: none;
}


/*animations*/
/* .hidden {
    display: none;
}
.block {
    display: block;
}
.flex {
    display: flex;
} */
form {
    display: flex;
    flex-direction: column;
    gap: 20px;

}
/*Posts*/
/*Login*/
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.background {
    position: absolute;
    background-color: var(--bgc-login);
    z-index: -1;
}
.wrapper {
    width: 420px;
    background: transparent;
    border: solid 2px rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: var(--txt-2);
    border-radius: 20px;
    padding: 30px 40px;
}
.wrapper h1 {
    margin-bottom: 30px;
    font-size: 36px;
    text-align: center;
    color: var(--txt);
}
.inputBox {
    width: 100%;
    position: relative;
    display: flex;
    gap: 5px;
    flex-direction: column;
}
.inputBox input {
    height: 50px;
}
.inputBox textarea {
    height: 350px;
    resize: vertical;
    min-height: 60px;
}
.inputBox input,
.inputBox textarea {
    background-color: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    padding: 20px 45px 20px 20px;
}
.inputBox input::placeholder,
.inputBox textarea::placeholder {
    color: var(--txt-2);
}
/*Create/Edit*/
.createPost,
.editPost {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
}
.createPost .inputBox,
.editPost .inputBox {
    width: calc(50% - 10px);
}
.createPost .inputBox input,
.editPost .inputBox input,
.createPost .inputBox textarea,
.editPost .inputBox textarea {
    color: var(--txt);
}

.wrapper .inputBox {
    color: var(--txt-2);
}
.wrapper .RememberForgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.wrapper .RememberForgot label input {
    accent-color: var(--txt-2);
    margin-right: 3px;
}
.wrapper .RememberForgot a {
    text-decoration: none;
    color: var(--accent);
}
.wrapper .RememberForgot a:hover {
    color: var(--accent-hover);
    text-decoration: underline;
}
.btn {
    width: 100%;
    height: 45px;
    background: var(--txt);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    color: var(--txt-2);
    font-weight: 600;
}
.btn:hover {
    background: var(--accent);
    color: var(--txt);
}
.register {
    display: flex;
    justify-content: center;
    font-size: 14.5px;
    margin: 20px 0 15px;
}
.registerLink {
    color: var(--accent);
    text-decoration: none;
}
.registerLink:hover {
    color: var(--accent-hover);
    text-decoration: underline;
}
.inputBox .login-svg {
    stroke: var(--accent);
    fill: var(--accent);
    height: 16px;
    width: 16px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.inputBox .login-svg:hover {
    stroke: var(--accent-hover);
    fill: var(--accent-hover);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    transition: background-color 8160000s ease-in-out 0s, color 8160000s ease-in-out 0s;
}
.indexIcon {
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    border-radius: 50px;
    background-color: transparent;
    backdrop-filter: blur(20px);
}